# Flutter/Dart 相关
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/

# Android 相关
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/.gradle
**/android/key.properties
*.apk
*.aab
*.ap_

# iOS 相关
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/

# Web 相关
**/web/packages/

# 版本控制相关
.git/
.gitignore
.github/

# Docker 相关
.dockerignore
Dockerfile
docker-compose.yml
docker-build.sh
README.docker.md

# 特定于项目的文件和目录
node_modules/
*.iml
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db